# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Kilocode MCD
mcp.json
# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# PyCharm / JetBrains
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python wheel / distribution
*.egg
*.egg-info/
dist/
build/
.eggs/
# Coverage reports
htmlcov/
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Node modules
node_modules/

final_pdfs
final pdfs
# Local Netlify folder
.netlify
